$blue:grey;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.body{
    background: url("background.png") no-repeat ;
    background-size: 100%;
    background-repeat: no-repeat;
}
.btn{

}